/* src/components/Guardian/Guardian.css */

.guardian {
  position: absolute;
  bottom: calc(15% + 200px);
}

.BalloonKing {
  bottom: calc(15% + 150px);
}

.BalloonGenie {
  bottom: calc(15% + 150px);
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.guardian img {
  animation: rock 2s ease-in-out infinite;
}
