/* src/components/Guardian/Guardian.css */

.guardian {
  position: absolute;
  bottom: calc(15% + 200px);
}

.guardian.BalloonKing {
  bottom: calc(15% + 150px);
}

.guardian.BalloonGenie {
  bottom: calc(15% + 150px);
}

.balloon.BalloonKing {
  position: absolute;
  left: 120px;
  bottom: calc(15% + 450px);
}

.balloon.BalloonGenie {
  position: absolute;
  left: 360px;
  bottom: calc(15% + 480px);
}

.balloon.BalloonAlien {
  position: absolute;
  left: 380px;
  bottom: calc(15% + 350px);
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes sway {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.guardian img {
  animation: rock 2s ease-in-out infinite;
}

.balloon img {
  animation: sway 2s ease-in-out infinite;
  transform-origin: bottom center; /* Sets the rotation point to the bottom center of the image */
}