/* src/components/Barrier/Barrier.css */

.barrier {
    position: absolute;
    bottom: calc(-15%);
    left: 3800px;
    transition: bottom 4.5s ease;
  }
  
  .barrier.lifted {
    bottom: calc(35% + 20px); /* Adjust the value to lift the barrier */
  }