/* src/components/BalloonBox/BalloonBox.css */

.balloon-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 230px;
    bottom: calc(15% + 80px); 

  }





  