/* src/components/BalloonBox/BalloonBox.css */

.balloon-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 200px;
    bottom: calc(15% + 80px); 

  }
  
  .box {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  .balloon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 190px;
    border-radius: 50%; /* Make it a circle */
  }

  .guardian {
    position: absolute;
    width: 0;  
    height: 0;  
    border-left: 50px solid transparent; 
    border-right: 50px solid transparent; 
    left: 10px;
    border-bottom: 50px solid green; 

    margin: 2rem; 
  }


.barrier {
  position: absolute;
  bottom: calc(15% + 20px);
  left: 4500px;
  width: 2px;
  height: 20%;
  background-color: black; /* Or any color of your choice */
}

  