/* src/components/Game/Game.css */

.game-container {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* This prevents internal scrolling */
  }
  
  .land {
    position: absolute;
    bottom: 15%;
    height: 20px;
    width: 6000px; /* Specific width of the land */
    background: linear-gradient(to right, 
      green 0%, green 25%, /* Green from 0% to 25% */
      black 25%, black 50%, /* Red from 25% to 50% */
      yellow 50%, yellow 75%, /* Yellow from 50% to 75% */
      orange 75%, orange 100%); /* Orange from 75% to 100% */
  }
  
  .player {
    position: absolute;
    bottom: calc(15% + 20px); /* Actually not necessary because ground position is being returned by getJumpPosition */
    width: 30px; 
    height: 30px;
    background-color: blue;
  }