/* src/components/HotAirBalloon/HotAirBalloon.css */

.hot-air-balloon {
    position: absolute;
    bottom: calc(5%);
    transition: bottom 5s ease;
  }
  
  .hot-air-balloon.lift-off {
    bottom: 200vh; /* Moves the balloon upwards out of view */
  }